 <div class="wrapper page-option-v1">
    <!--=== Header ===-->
    <div class="header">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="index.html">
                <img src="assets/logo1-default.png" alt="Logo">
            </a>
            <!-- End Logo -->

            <!-- Topbar -->
            <div class="topbar">
                <ul class="loginbar pull-right">
                    <li class="hoverSelector">
                        <i class="fa fa-globe"></i>
                        <a>言語</a>
                        <ul class="languages hoverSelectorBlock">
                            <li class="active">
                                <a href="#">英語 <i class="fa fa-check"></i></a>
                            </li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_faq.html">ヘルプ</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">ログイン</a></li>
                </ul>
            </div>
            <!-- End Topbar -->

            <!-- Toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <!-- End Toggle -->
        </div><!--/end container-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
            <div class="container">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li class="dropdown active">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            ホーム
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Option 1: Default Page</a></li>
                        </ul>
                    </li>
                    <!-- End Home -->

                    <!-- Search Block -->
                    <li>
                        <i class="search fa fa-search search-btn"></i>
                        <div class="search-open">
                            <div class="input-group animated fadeInDown">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-btn">
                                    <button class="btn-u" type="button">Go</button>
                                </span>
                            </div>
                        </div>
                    </li>
                    <!-- End Search Block -->
                </ul>
            </div><!--/end container-->
        </div><!--/navbar-collapse-->
    </div>
    <!--=== End Header ===-->

    <!--=== Slider ===-->
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 1">
                    <!-- MAIN IMAGE -->
                    <img src="assets/sliders/4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        WEBとリアルの融合を
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="190"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        私たちは、WEBマーケティングとリアルマーケティングを融合させることで、<br/>
                        何のためにホームページを作ったか分からない・・といった不満を解消いたします。
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="310"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">理念をもっと見る</a>
                        <a href="#" class="btn-u">事業内容</a>
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 2">
                    <!-- MAIN IMAGE -->
                    <img src="assets/sliders/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        エンターテインメント業界30年、WEBマーケティング10年
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="190"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        実績。 <br/>
                        実績概要。
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="310"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">もっと見る</a>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">事業内容</a>
                    </div>
                </li>
                <!-- END SLIDE -->

                <!-- SLIDE -->
                <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Slide 3">
                    <!-- MAIN IMAGE -->
                    <img src="assets/sliders/3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <div class="tp-caption revolution-ch1 sft start"
                        data-x="center"
                        data-hoffset="0"
                        data-y="100"
                        data-speed="1500"
                        data-start="500"
                        data-easing="Back.easeInOut"
                        data-endeasing="Power1.easeIn"
                        data-endspeed="300">
                        Over 12000+ Satisfied Users
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption revolution-ch2 sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="190"
                        data-speed="1400"
                        data-start="2000"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        We are creative technology company providing <br/>
                        key digital services on web and mobile.
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption sft"
                        data-x="center"
                        data-hoffset="0"
                        data-y="310"
                        data-speed="1600"
                        data-start="2800"
                        data-easing="Power4.easeOut"
                        data-endspeed="300"
                        data-endeasing="Power1.easeIn"
                        data-captionhidden="off"
                        style="z-index: 6">
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
                        <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
                    </div>
                </li>
                <!-- END SLIDE -->
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
        </div>
    </div>
    <!--=== End Slider ===-->

    <!--=== Service Block ===-->
    <div class="container content-sm">
        <div class="row">
            <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
                <i class="rounded-x icon-link"></i>
                <h1 class="title-v3-md text-uppercase margin-bottom-10">Web制作事業</h1>
                <p>10年のWEB現場の経験を活かし、福岡県の太宰府市に根ざしたWebの制作を行います。</p>
            </div>
            <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
                <i class="rounded-x icon-paper-plane"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">Webマーケティング事業</h2>
                <p>WEBサイトは作って終わりではありません。リアル店舗でいうところの、「いかにお客様を呼びこむか」と同義です。私達はWebとリアルをリンクさせたマーケティング施策の提案力に自信があります。</p>
            </div>
            <div class="col-md-4 content-boxes-v6">
                <i class="rounded-x icon-refresh"></i>
                <h2 class="title-v3-md text-uppercase margin-bottom-10">エンターテインメント事業</h2>
                <p>おもちゃの販売など</p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Service Block ===-->

    <!--=== Parallax Backgound ===-->
    <div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
        <div class="container">
            <div class="headline-center-v2 margin-bottom-10">
                <h2>パララックスがここに入る。</h2>
                <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                <p>パララックス概要</p><br><br>
                <button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">ボタン</button>
            </div><!--/Headline Center V2-->
        </div><!--/container-->
    </div>
    <!--=== End Parallax Backgound ===-->

    <!--=== Recent Posts ===-->
    <div class="container content-sm">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>最新ニュース</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>株式会社◯◯◯の最新ニュース</p>
        </div><!--/Headline Center V2-->

        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="assets/other/blog_main1.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3><a href="#">教育事業</a></h3>
                        <p>学生にプログラミングの楽しさを伝える。プログラミング教室の開講</p>
                        <p><a class="read-more" href="#">もっと読む</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="assets/other/blog_main2.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3><a href="#">ホームページの役割って？</a></h3>
                        <p>もしあなたがこのような疑問を持たれたのであれば、存分にホームページの利点を活かしきれていない可能性があります。</p>
                        <p><a class="read-more" href="#">もっと読む</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnails-v1">
                    <div class="thumbnail-img">
                        <img class="img-responsive" src="assets/other/blog_main3.jpg" alt="">
                    </div>
                    <div class="caption">
                        <h3><a href="#">ホームページを開設しました</a></h3>
                        <p>2015年9月、株式会社◯◯◯を設立いたしました。</p>
                        <p><a class="read-more" href="#">もっと読む</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/container-->
    <!--=== End Recent Posts ===-->

    <!--=== Service Info ===-->
    <div class="service-info margin-bottom-60">
        <div class="container">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h2>◯◯◯の特徴</h2>
                <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="margin-bottom-30">
                        <i class="service-info-icon rounded-x icon-wrench"></i>
                        <div class="info-description">
                            <h3 class="title-v3-md text-uppercase">WEB制作</h3>
                            <p>企業サイトから通販サイトまで、PHPやRuby on Railsを使って構築いたします。</p>
                        </div>
                    </div>
                    <div class="margin-bottom-30">
                        <i class="service-info-icon rounded-x icon-power"></i>
                        <div class="info-description">
                            <h3 class="title-v3-md text-uppercase">O2Oマーケティング</h3>
                            <p>オンラインtoオフライン...ネット上での施策を実店舗の集客に繋げる。</p>
                        </div>
                    </div>
                    <div class="md-margin-bottom-30">
                        <i class="service-info-icon rounded-x icon-bell"></i>
                        <div class="info-description">
                            <h3 class="title-v3-md text-uppercase">企画力</h3>
                            <p>この商品をどう売り込めばよいか分からない・・・<br>企画のプロにお任せください。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="responsive-video">
                        <iframe src="//player.vimeo.com/video/78451097?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div><!--/row-->
        </div><!--/container-->
    </div>
    <!--=== End Service Info ===-->

    <div class="container">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>制作実績</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>制作実績概要</p>
        </div><!--/Headline Center V2-->
    </div><!--/container-->

    <!--=== Portfolio Box V2 ===-->
    <ul class="list-unstyled row portfolio-box-v2">
        <li class="col-sm-3">
            <a class="fancybox" data-rel="gallery" title="Project One" href="assets/main/img12.jpg">
                <img class="img-responsive" src="assets/main/img12.jpg" alt="">
                <span class="portfolio-box-v2-in">
                    <i class="rounded-x icon-magnifier-add"></i>
                </span>
            </a>
        </li>
        <li class="col-sm-3">
            <a class="fancybox" data-rel="gallery" title="Project Two" href="assets/main/img6.jpg">
                <img class="img-responsive" src="assets/main/img6.jpg" alt="">
                <span class="portfolio-box-v2-in">
                    <i class="rounded-x icon-magnifier-add"></i>
                </span>
            </a>
        </li>
        <li class="col-sm-3">
            <a class="fancybox" data-rel="gallery" title="Project Three" href="assets/main/img17.jpg">
                <img class="img-responsive" src="assets/main/img17.jpg" alt="">
                <span class="portfolio-box-v2-in">
                    <i class="rounded-x icon-magnifier-add"></i>
                </span>
            </a>
        </li>
        <li class="col-sm-3">
            <a class="fancybox" data-rel="gallery" title="Project Four" href="assets/main/img25.jpg">
                <img class="img-responsive" src="assets/main/img25.jpg" alt="">
                <span class="portfolio-box-v2-in">
                    <i class="rounded-x icon-magnifier-add"></i>
                </span>
            </a>
        </li>
    </ul>
    <!--=== End Portfolio Box V2 ===-->

    <!--=== Service Block ===-->
    <div class="container">
        <div class="headline-center-v2 headline-center-v2-dark margin-bottom-60">
            <h2>◯◯◯の特徴</h2>
            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
            <p>他にはない強みを入れる。集客方法は福岡のどの会社にも負けないのでは？</p>
        </div><!--/Headline Center V2-->

        <div class="row margin-bottom-60">
            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50">
                    <i class="rounded-x icon-eye"></i>
                    <h3 class="title-v3-bg text-uppercase">その1</h3>
                    <p>ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。</p>
                    <a class="text-uppercase" href="#">もっと読む</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50">
                    <i class="rounded-x icon-pointer"></i>
                    <h3 class="title-v3-bg text-uppercase">その2</h3>
                    <p>ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。</p>
                    <a class="text-uppercase" href="#">もっと読む</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block-v1 md-margin-bottom-50">
                    <i class="rounded-x icon-cloud-upload"></i>
                    <h3 class="title-v3-bg text-uppercase">その3</h3>
                    <p>ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。ここに本文を入れる。</p>
                    <a class="text-uppercase" href="#">もっと読む</a>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
    <!--=== End Service Block ===-->

    <!--=== Testimonials Section ===-->
    <!--
    <div class="testimonials-bs bg-image-v2 parallaxBg1 margin-bottom-60">
        <div class="container">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2>What Our Clients Say About Us</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                            <p>Unify is an incredibly beautiful responsive Bootstrap Template for <a href="#">corporate</a> and creative professionals. It works on all major web browsers, tablets and phone.</p>
                            <span class="author">Ashtyn Franklin, <a href="#">CEO</a></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2>What Our Clients Say About Us</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                            <p>Unify is an incredibly beautiful responsive Bootstrap Template for <a href="#">corporate</a> and creative professionals. It works on all major web browsers, tablets and phone.</p>
                            <span class="author">Ashtyn Franklin, <a href="#">CEO</a></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="headline-center-v2 headline-center-v2-dark">
                            <h2>What Our Clients Say About Us</h2>
                            <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                            <p>Unify is an incredibly beautiful responsive Bootstrap Template for <a href="#">corporate</a> and creative professionals. It works on all major web browsers, tablets and phone.</p>
                            <span class="author">Ashtyn Franklin, <a href="#">CEO</a></span>
                        </div>
                    </div>
                </div>

                <div class="carousel-arrow">
                    <a class="right carousel-control-v2" href="#carousel-example-generic" data-slide="next">
                        <i class="rounded-x fa fa-angle-left"></i>
                    </a>
                    <a class="left carousel-control-v2" href="#carousel-example-generic" data-slide="prev">
                        <i class="rounded-x fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    -->
    <!--=== End Section ===-->

    <!--=== Owl Carousel v6 ===-->
    <div class="container">
        <ul class="list-inline owl-carousel-v6 owl-slider-v6 margin-bottom-50">
            <li class="owl-carousel-item">
                <img src="assets/clients3/1.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/2.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/3.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/4.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/5.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/6.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/6.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/5.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/4.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/1.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/2.png" alt="">
            </li>
            <li class="owl-carousel-item">
                <img src="assets/clients3/3.png" alt="">
            </li>
        </ul>
    </div><!--/container-->
    <!--=== End Owl Carousel v6 ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/logo2-default.png" alt=""></a>
                        <p>会社の概要やポリシーなどを記載する。こだわりとかを入れてもいい。</p>
                        <p>長さとしては、このくらい。</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>最新ニュース</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">タイトル1</a>
                                    <small>2015/07/15</small>
                                </li>
                                <li>
                                    <a href="#">タイトル2</a>
                                    <small>2015/07/15</small>
                                </li>
                                <li>
                                    <a href="#">タイトル3</a>
                                    <small>2015/07/15</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>サイトマップ</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="about">◯◯◯とは</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="service">事業内容</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="company">会社概要</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="news">最新ニュース</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="contact">お問い合わせ</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>連絡先</h2></div>
                        <address class="md-margin-bottom-40">
                            〒818-0132 <br />
                            福岡県太宰府市国分1−3−30−201 <br />
                            TEL: 080-4004-0421 <br />
                            Email: <a href="mailto:info@◯◯◯.co.co.jp" class="">info@◯◯◯.co.jp</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                           Copyright &copy; 2015 ◯◯◯ Co.Ltd All Rights Reserved.
                           <a href="privacy">プライバシーポリシー</a> | <a href="contact">お問い合わせ</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
